GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5173/api/google/oauth/callback
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
WEATHER_API_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
